<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"/>
    <title>Order Details</title>
</head>
<body class = body>
    <h1>Order Details</h1>
    <ul>
        <li><b>Customer Name:</b> {{ order.customer_name }}</li>
        <li><b>Order Date:</b> {{ order.order_date }}</li>
        <li><b>Beer Type:</b> {{ order.beer_type }}</li>
        <li><b>Quantity:</b> {{ order.quantity }}</li>
        <li><b>Description:</b> {{ order.description }}</li>
    </ul>
</body>
</html>


